@font-face {
    font-family: "sans";
    src: url("../assets/fonts/IRANSansWeb.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
.locate_user{
    font-family: sans;
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.locate_user_icon{
    display: flex;
    justify-content: center ;
    margin: 5vh 0;
}
.locate_user_title{
    padding:0 10px;
    font-size: 19px;
    text-align: center;
}
.locate_user_select_wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:0 15px;
    margin:5vh 0;
}
.locate_user_select_wrapper>div>div{
    direction: ltr;
    border: none !important;
    border-bottom: 1px solid #5a25b691 !important;
}