@font-face {
  font-family: "sans";
  src: url("../assets/fonts/IRANSansWeb.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
.select_address {
  font-family: "sans";
  overflow-y: auto !important;
  padding: 11vh 0 7vh 0;
  background-color: rgb(233, 233, 233);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart_page_bottom_box {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 430px;
  height: 50px;
  background: linear-gradient(90deg, #358f51 0%, #56b3d2 50%, #56b3d2 100%) !important;  
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.address_title {
  width: 100%;
  height: 30px;
  color: #5925b6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.address_body {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.address_body > label , .select_payment_address_box{
  width: 98%;
  height: 11vh;
  box-shadow: 0 0 5px 0 #a3a3a3;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin-right: 0 !important;
  font-size: 12px;
}
.select_payment_address_box{
    width: calc(100% - 20px);
    min-height: 30vh;
}
.address_body > label > span:nth-child(1) {
  position: absolute;
  right: 5px;
  top: 10px;
}
.address_body > label > span > div:nth-child(2) {
  font-size: 13px;
}
.address_body > label > span > div:nth-child(2) {
  margin-top: 3vh !important;
  font-size: 10px;
}
.address_body > label > span:nth-child(2)> span , .address_body > label > span:nth-child(2)> button{
    position:absolute !important;
    left: 10px !important;
    bottom: 40% !important;
}